ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: black;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 28px; 
}

li a:hover {
  background-color: #fc7b03 ;
  color:white ;
}


li.dropdown {
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
  font-size: 20px;
}

.dropdown-content a:hover {background-color: #a6a6a6;}

.dropdown:hover .dropdown-content {
  display: block;
}

p{
  text-align: center;
  font-size: 18px;
}

h1{
  text-align: center;
  font-size: 35px;
}

.Main_paragraph {
	color: black;
	padding-top:15px;
	padding-bottom:15px;
	padding-left:50px;
	padding-right:50px;
	background-color: white;
}

.heading {
	color: white;
	padding-top:10px;
	padding-bottom:10px;
	padding-left:50px;
	padding-right:50px;
	background-color: black;
	border-bottom: 10px solid #fc7b03 ;
	border-top: 10px solid #fc7b03;
}

.news {
	color: black;
	padding-top:15px;
	padding-bottom:15px;
	padding-left:50px;
	padding-right:50px;
	background-color: white;
}

#fc7b03 orange

#a6a6a6 grey

